.todoInput {
  display: flex;
  background-color: rgb(184, 235, 255);

  input {
    flex: 1;
    font-size: 1.2em;
    padding: 0.5rem;
    outline: none;
    border: none;
    background: none;
    color: gray;
    // input 안에 input을 적으려면 &  입력 하면 됨
    &::placeholder {
      color: white;
    }
  }
  //   input::placeholder {
  //     color: red;
  //   }
  button {
    cursor: pointer;
    width: 40px;
    outline: none;
    border: none;
    color: black;
    
    background-color: white;
    &:hover {
      background-color: white;
      color: red;
    }
  }
}
