.todoTemplate {
  width: 520px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6em;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  box-shadow: 0px 0px 20px gray;
}

.todo-title {
  display: flex;
  background-color: rgb(160, 242, 161);
  border-radius: 10px 10px 0px 0px;
  color: white;
  font-weight: bolder;
  min-height: 4em;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
}
